#grandparent{
    border-color: blue;
    border-style: solid;
    border-width: 2px;  
    padding: 10px;
    margin: 10px;

}
#parent{
    border-color: greenyellow;
    
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 10px;

}
#child{
    border-color:deeppink;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 10px;
}